fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
email_validator
python-dotenv
bcrypt
python-jose[cryptography]
python-multipart
pytest
httpx2
opencv-python-headless
numpy
pandas
xgboost
scikit-learn
joblib
ultralytics
